:root {
    --bs-primary: var(--primary) !important;
    --bs-primary-rgb: var(--primary-rgb) !important;
    --bs-link-color: var(--primary) !important;
    --bs-link-color-rgb: var(--primary-rgb) !important; 
    --bs-link-hover-color: var(--primary) !important;
    --bs-link-hover-color-rgb: var(--primary-rgb) !important;
    --bs-nav-pills-link-active-bg: var(--primary) !important;
    --bs-nav-pills-link-active-bg-rgb: var(--primary-rgb) !important;
}

button, .btn {
    background: none !important;
    border: none !important;
    color: var(--bs-primary) !important;
    font-weight: 600 !important;

    &:hover {
        color: var(--bs-primary) !important;
        background-color: lightgray !important;
    }
}

input, .form-control {
    background-color: #ececec !important;
    border: #ececec !important;
}

.nav-link {
    &:hover {
        background-color: rgb(233, 233, 233) !important;
        cursor: pointer;
    }
}