:root {
  --primary: #163253 !important;
  --primary-rgb: 22, 51, 85 !important;
}

* {
  font-size: 14px;
}

html, #root {
  background-color: rgb(255, 255, 255);
}

h1, h2 {
  color: white !important;
}


body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import "~bootstrap/scss/bootstrap.scss";
@import "_overrides";
@import "app";
