.my-navbar {
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;

    div {
        width: 100%;
        padding: 12px 0;
        background-color: var(--bs-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }

}