.rutas-page {

    .submit-input {
        display: inline !important;
        background: none !important;
        width: 75.7px;
        font-weight: 600;
        color: var(--bs-primary);

        &:hover {
            background-color: rgba(var(--primary-rgb), 0.3) !important;
        }
    }

    .cancel-btn {
        display: inline;
        background: none !important;
        font-weight: 400;
        color: grey !important;

        &:hover {
            background-color: lightgrey !important;
        }
    }

    .delete-btn {
        display: inline;
        background: none !important;
        font-weight: 600;
        color: var(--bs-danger) !important;

        &:hover {
            background-color: rgba(255, 0, 0, 0.3) !important;
        }
    }
}