.sidebar {
    padding: 0 1.5rem;
    background-color: #dcdcdc;

    .collapse-btn {
        padding-left: 9px;
        color: rgb(104, 104, 104);

        &:hover {
            cursor: pointer;
            color: var(--bs-primary);
        }
    }

    .nav-link {
        text-align: start;
        font-size: 1.1rem;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        
        span {
            position: absolute;
            left: 35px;
        }

        &.active {
            background-color: var(--bs-primary);
            color: white;
        }
    }

    .nav-item {
        padding: 0.2rem 0;
    }

}